In [1]:
import pandas as pd

In [6]:
weather_data=pd.read_csv('weather3.csv',parse_dates=['date'])
weather_data

#this only use for Grouper function

        date      city  temperature  humidity
0 2017-05-01  new york           65        56
1 2017-05-02  new york           61        54
2 2017-05-03  new york           70        60
3 2017-12-01  new york           30        50
4 2017-12-02  new york           28        52
5 2017-12-03  new york           25        51

In [11]:
weather_data.pivot_table(index=pd.Grouper(freq='M',key='date'),columns='city') #freq is depend on problem.use many thing in freq

             humidity temperature
city         new york    new york
date
2017-05-31  56.666667   65.333333
2017-12-31  51.000000   27.666667