In [12]:
import pandas as pd
df=pd.read_csv('aapl_no_dates.csv')
df

      Open    High     Low   Close    Volume
0   144.88  145.30  143.10  143.50  14277848
1   143.69  144.79  142.72  144.09  21569557
2   143.02  143.50  142.41  142.73  24128782
3   142.90  144.75  142.90  144.18  19201712
4   144.11  145.95  143.37  145.06  21090636
5   144.73  145.85  144.38  145.53  19781836
6   145.87  146.18  144.82  145.74  24884478
7   145.50  148.49  145.44  147.77  25199373
8   147.97  149.33  147.33  149.04  20132061
9   148.82  150.90  148.57  149.56  23793456
10  149.20  150.13  148.67  150.08  17868792
11  150.48  151.42  149.95  151.02  20922969
12  151.50  151.74  150.19  150.34  17243748
13  149.99  150.44  148.88  150.27  26252630

In [36]:
pd.date_range(start='7/3/17',end='7/21/17',freq='B')# freq='B' include holiday also

DatetimeIndex(['2017-07-03', '2017-07-04', '2017-07-05', '2017-07-06',
               '2017-07-07', '2017-07-10', '2017-07-11', '2017-07-12',
               '2017-07-13', '2017-07-14', '2017-07-17', '2017-07-18',
               '2017-07-19', '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='B')

In [17]:
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

us=CustomBusinessDay(calendar=USFederalHolidayCalendar())#using this we can able to remove holiday
us

In [18]:
rng=pd.date_range(start='7/3/17',end='7/21/17',freq=us)
rng

DatetimeIndex(['2017-07-03', '2017-07-05', '2017-07-06', '2017-07-07',
               '2017-07-10', '2017-07-11', '2017-07-12', '2017-07-13',
               '2017-07-14', '2017-07-17', '2017-07-18', '2017-07-19',
               '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='C')

In [19]:
df.set_index(rng,inplace=True)
df

              Open    High     Low   Close    Volume
2017-07-03  144.88  145.30  143.10  143.50  14277848
2017-07-05  143.69  144.79  142.72  144.09  21569557
2017-07-06  143.02  143.50  142.41  142.73  24128782
2017-07-07  142.90  144.75  142.90  144.18  19201712
2017-07-10  144.11  145.95  143.37  145.06  21090636
2017-07-11  144.73  145.85  144.38  145.53  19781836
2017-07-12  145.87  146.18  144.82  145.74  24884478
2017-07-13  145.50  148.49  145.44  147.77  25199373
2017-07-14  147.97  149.33  147.33  149.04  20132061
2017-07-17  148.82  150.90  148.57  149.56  23793456
2017-07-18  149.20  150.13  148.67  150.08  17868792
2017-07-19  150.48  151.42  149.95  151.02  20922969
2017-07-20  151.50  151.74  150.19  150.34  17243748
2017-07-21  149.99  150.44  148.88  150.27  26252630

In [30]:
from pandas.tseries.holiday import AbstractHolidayCalendar,nearest_workday,Holiday
class holidayscalendar(AbstractHolidayCalendar):
    """
    US Federal Government Holiday Calendar based on rules specified by:
    https://www.opm.gov/policy-data-oversight/
       snow-dismissal-procedures/federal-holidays/
    """

    rules = [
        Holiday("holiDays", month=2, day=23, observance=nearest_workday),#nearest_workday means off a day which is near 
                                                                         #by the fixed off day.
    ]
                

myc = CustomBusinessDay(calendar=holidayscalendar())  
myc

In [31]:
rg1=pd.date_range(start='2/15/19',end='2/28/19',freq=myc)

DatetimeIndex(['2019-02-15', '2019-02-18', '2019-02-19', '2019-02-20',
               '2019-02-21', '2019-02-25', '2019-02-26', '2019-02-27',
               '2019-02-28'],
              dtype='datetime64[ns]', freq='C')

In [55]:
df.set_index(rg1,inplace=True)
df

AttributeError: 'DatetimeIndex' object has no attribute 'set_index'

In [45]:
bangladesh = CustomBusinessDay(weekmask='Sun Mon Tue Wed Thu')  #ewwkmask for weekend
pd.date_range(start='10/10/19',end='10/30/19',freq=bangladesh)

DatetimeIndex(['2019-10-10', '2019-10-13', '2019-10-14', '2019-10-15',
               '2019-10-16', '2019-10-17', '2019-10-20', '2019-10-21',
               '2019-10-22', '2019-10-23', '2019-10-24', '2019-10-27',
               '2019-10-28', '2019-10-29', '2019-10-30'],
              dtype='datetime64[ns]', freq='C')

In [53]:
#ewwkmask for weekend
#formate of holidays like this

bangladesh = CustomBusinessDay( holidays=['2019-10-07','2019-10-08'],weekmask='Sun Mon Tue Wed Thu')  
df1=pd.date_range(start='10/1/19',end='10/30/19',freq=bangladesh)

In [54]:
df1

DatetimeIndex(['2019-10-01', '2019-10-02', '2019-10-03', '2019-10-06',
               '2019-10-09', '2019-10-10', '2019-10-13', '2019-10-14',
               '2019-10-15', '2019-10-16', '2019-10-17', '2019-10-20',
               '2019-10-21', '2019-10-22', '2019-10-23', '2019-10-24',
               '2019-10-27', '2019-10-28', '2019-10-29', '2019-10-30'],
              dtype='datetime64[ns]', freq='C')