In [11]:
import pandas as pd
df=pd.read_csv('E:\\Anaconda files\\meching learning\\pandas\\py-master\\pandas\\3_different_ways_of_creating_dataframe\\weather_data.csv')
df  #add the raw path of the csv file

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [18]:
df=pd.read_excel('E:\\Anaconda files\\meching learning\\pandas\\py-master\\pandas\\3_different_ways_of_creating_dataframe\\weather_data.xlsx','Sheet1')
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

In [25]:
weather_data={
    
    'day':['1/1/2017','1/2/2017','1/3/2017'],
    'temperature':[32,35,28],
    'windspeed':[6,7,2],
    'event':['rain','sunny','snow']
}

df=pd.DataFrame(weather_data)
df
#python dictionary

        day  temperature  windspeed  event
0  1/1/2017           32          6   rain
1  1/2/2017           35          7  sunny
2  1/3/2017           28          2   snow

In [29]:
weather_data=[
    ('1/1/2017',32,6,'rain'),
    ('1/2/2017',35,7,'sunny'),
    ('1/3/2017',28,2,'snow')
]
df=pd.DataFrame(weather_data,columns=['day','temperature','windspeed','event'])
df
#tuples

        day  temperature  windspeed  event
0  1/1/2017           32          6   rain
1  1/2/2017           35          7  sunny
2  1/3/2017           28          2   snow