In [1]:
import pandas as pd

In [3]:
df=pd.read_excel('stocks_3_levels.xlsx',header=[0,1,2])
df

  Unnamed: 0_level_0 Price Ratios                   \
  Unnamed: 0_level_1        Price
             Company     Facebook Google Microsoft
0            Q1 2016          155    955        66
1            Q2 2016          150    987        69
2            Q3 2016          153    963        62
3            Q4 2016          155   1000        61
4            Q1 2017          156   1012        66

                                                 Income Statement         \
  Price to earnings ratio (P/E)                         Net Sales
                       Facebook Google Microsoft         Facebook Google
0                         37.10   32.0     30.31              2.6     20
1                         36.98   31.3     30.56              3.1     22
2                         36.78   31.7     30.46              4.3     24
3                         36.11   31.2     30.11              6.7     26
4                         37.07   30.0     31.00              8.1     31


            Net Profit
  Microsoft   Facebook Google Microsoft
0     18.70       0.80   5.43      4.56
1     21.30       0.97   5.89      5.10
2     21.45       1.20   6.10      5.43
3     21.88       1.67   6.50      5.89
4     22.34       2.03   6.40      6.09

In [17]:
df.stack()

                                           Income Statement  Price Ratios  \
0 Company   Unnamed: 0_level_1                          NaN           NaN
  Facebook  Net Profit                                 0.80           NaN
            Net Sales                                  2.60           NaN
            Price                                       NaN        155.00
            Price to earnings ratio (P/E)               NaN         37.10
  Google    Net Profit                                 5.43           NaN
            Net Sales                                 20.00           NaN
            Price                                       NaN        955.00
            Price to earnings ratio (P/E)               NaN         32.00
  Microsoft Net Profit                                 4.56           NaN
            Net Sales                                 18.70           NaN
            Price                                       NaN         66.00
            Price to earnings ratio (P/E)               NaN         30.31
1 Company   Unnamed: 0_level_1                          NaN           NaN
  Facebook  Net Profit                                 0.97           NaN
            Net Sales                                  3.10           NaN
            Price                                       NaN        150.00
            Price to earnings ratio (P/E)               NaN         36.98
  Google    Net Profit                                 5.89           NaN
            Net Sales                                 22.00           NaN
            Price                                       NaN        987.00
            Price to earnings ratio (P/E)               NaN         31.30
  Microsoft Net Profit                                 5.10           NaN
            Net Sales                                 21.30           NaN
            Price                                       NaN         69.00
            Price to earnings ratio (P/E)               NaN         30.56
2 Company   Unnamed: 0_level_1                          NaN           NaN
  Facebook  Net Profit                                 1.20           NaN
            Net Sales                                  4.30           NaN
            Price                                       NaN        153.00
...                                                     ...           ...
  Microsoft Net Profit                                 5.43           NaN
            Net Sales                                 21.45           NaN
            Price                                       NaN         62.00
            Price to earnings ratio (P/E)               NaN         30.46
3 Company   Unnamed: 0_level_1                          NaN           NaN
  Facebook  Net Profit                                 1.67           NaN
            Net Sales                                  6.70           NaN
            Price                                       NaN        155.00
            Price to earnings ratio (P/E)               NaN         36.11
  Google    Net Profit                                 6.50           NaN
            Net Sales                                 26.00           NaN
            Price                                       NaN       1000.00
            Price to earnings ratio (P/E)               NaN         31.20
  Microsoft Net Profit                                 5.89           NaN
            Net Sales                                 21.88           NaN
            Price                                       NaN         61.00
            Price to earnings ratio (P/E)               NaN         30.11
4 Company   Unnamed: 0_level_1                          NaN           NaN
  Facebook  Net Profit                                 2.03           NaN
            Net Sales                                  8.10           NaN
            Price                                       NaN        156.00
            Price to earnings ratio (P/E)               NaN         37.07
  Google    Net Profit                                 6.40           NaN
            Net Sales                                 31.00           NaN
            Price                                       NaN       1012.00
            Price to earnings ratio (P/E)               NaN         30.00
  Microsoft Net Profit                                 6.09           NaN
            Net Sales                                 22.34           NaN
            Price                                       NaN         66.00
            Price to earnings ratio (P/E)               NaN         31.00

                                          Unnamed: 0_level_0
0 Company   Unnamed: 0_level_1                       Q1 2016
  Facebook  Net Profit                                   NaN
            Net Sales                                    NaN
            Price                                        NaN
            Price to earnings ratio (P/E)                NaN
  Google    Net Profit                                   NaN
            Net Sales                                    NaN
            Price                                        NaN
            Price to earnings ratio (P/E)                NaN
  Microsoft Net Profit                                   NaN
            Net Sales                                    NaN
            Price                                        NaN
            Price to earnings ratio (P/E)                NaN
1 Company   Unnamed: 0_level_1                       Q2 2016
  Facebook  Net Profit                                   NaN
            Net Sales                                    NaN
            Price                                        NaN
            Price to earnings ratio (P/E)                NaN
  Google    Net Profit                                   NaN
            Net Sales                                    NaN
            Price                                        NaN
            Price to earnings ratio (P/E)                NaN
  Microsoft Net Profit                                   NaN
            Net Sales                                    NaN
            Price                                        NaN
            Price to earnings ratio (P/E)                NaN
2 Company   Unnamed: 0_level_1                       Q3 2016
  Facebook  Net Profit                                   NaN
            Net Sales                                    NaN
            Price                                        NaN
...                                                      ...
  Microsoft Net Profit                                   NaN
            Net Sales                                    NaN
            Price                                        NaN
            Price to earnings ratio (P/E)                NaN
3 Company   Unnamed: 0_level_1                       Q4 2016
  Facebook  Net Profit                                   NaN
            Net Sales                                    NaN
            Price                                        NaN
            Price to earnings ratio (P/E)                NaN
  Google    Net Profit                                   NaN
            Net Sales                                    NaN
            Price                                        NaN
            Price to earnings ratio (P/E)                NaN
  Microsoft Net Profit                                   NaN
            Net Sales                                    NaN
            Price                                        NaN
            Price to earnings ratio (P/E)                NaN
4 Company   Unnamed: 0_level_1                       Q1 2017
  Facebook  Net Profit                                   NaN
            Net Sales                                    NaN
            Price                                        NaN
            Price to earnings ratio (P/E)                NaN
  Google    Net Profit                                   NaN
            Net Sales                                    NaN
            Price                                        NaN
            Price to earnings ratio (P/E)                NaN
  Microsoft Net Profit                                   NaN
            Net Sales                                    NaN
            Price                                        NaN
            Price to earnings ratio (P/E)                NaN

[65 rows x 3 columns]

In [15]:
df.stack(level=0)

                                Net Profit  Net Sales   Price  \
0 Company   Unnamed: 0_level_0         NaN        NaN     NaN
  Facebook  Income Statement          0.80       2.60     NaN
            Price Ratios               NaN        NaN   155.0
  Google    Income Statement          5.43      20.00     NaN
            Price Ratios               NaN        NaN   955.0
  Microsoft Income Statement          4.56      18.70     NaN
            Price Ratios               NaN        NaN    66.0
1 Company   Unnamed: 0_level_0         NaN        NaN     NaN
  Facebook  Income Statement          0.97       3.10     NaN
            Price Ratios               NaN        NaN   150.0
  Google    Income Statement          5.89      22.00     NaN
            Price Ratios               NaN        NaN   987.0
  Microsoft Income Statement          5.10      21.30     NaN
            Price Ratios               NaN        NaN    69.0
2 Company   Unnamed: 0_level_0         NaN        NaN     NaN
  Facebook  Income Statement          1.20       4.30     NaN
            Price Ratios               NaN        NaN   153.0
  Google    Income Statement          6.10      24.00     NaN
            Price Ratios               NaN        NaN   963.0
  Microsoft Income Statement          5.43      21.45     NaN
            Price Ratios               NaN        NaN    62.0
3 Company   Unnamed: 0_level_0         NaN        NaN     NaN
  Facebook  Income Statement          1.67       6.70     NaN
            Price Ratios               NaN        NaN   155.0
  Google    Income Statement          6.50      26.00     NaN
            Price Ratios               NaN        NaN  1000.0
  Microsoft Income Statement          5.89      21.88     NaN
            Price Ratios               NaN        NaN    61.0
4 Company   Unnamed: 0_level_0         NaN        NaN     NaN
  Facebook  Income Statement          2.03       8.10     NaN
            Price Ratios               NaN        NaN   156.0
  Google    Income Statement          6.40      31.00     NaN
            Price Ratios               NaN        NaN  1012.0
  Microsoft Income Statement          6.09      22.34     NaN
            Price Ratios               NaN        NaN    66.0

                                Price to earnings ratio (P/E)  \
0 Company   Unnamed: 0_level_0                            NaN
  Facebook  Income Statement                              NaN
            Price Ratios                                37.10
  Google    Income Statement                              NaN
            Price Ratios                                32.00
  Microsoft Income Statement                              NaN
            Price Ratios                                30.31
1 Company   Unnamed: 0_level_0                            NaN
  Facebook  Income Statement                              NaN
            Price Ratios                                36.98
  Google    Income Statement                              NaN
            Price Ratios                                31.30
  Microsoft Income Statement                              NaN
            Price Ratios                                30.56
2 Company   Unnamed: 0_level_0                            NaN
  Facebook  Income Statement                              NaN
            Price Ratios                                36.78
  Google    Income Statement                              NaN
            Price Ratios                                31.70
  Microsoft Income Statement                              NaN
            Price Ratios                                30.46
3 Company   Unnamed: 0_level_0                            NaN
  Facebook  Income Statement                              NaN
            Price Ratios                                36.11
  Google    Income Statement                              NaN
            Price Ratios                                31.20
  Microsoft Income Statement                              NaN
            Price Ratios                                30.11
4 Company   Unnamed: 0_level_0                            NaN
  Facebook  Income Statement                              NaN
            Price Ratios                                37.07
  Google    Income Statement                              NaN
            Price Ratios                                30.00
  Microsoft Income Statement                              NaN
            Price Ratios                                31.00

                               Unnamed: 0_level_1
0 Company   Unnamed: 0_level_0            Q1 2016
  Facebook  Income Statement                  NaN
            Price Ratios                      NaN
  Google    Income Statement                  NaN
            Price Ratios                      NaN
  Microsoft Income Statement                  NaN
            Price Ratios                      NaN
1 Company   Unnamed: 0_level_0            Q2 2016
  Facebook  Income Statement                  NaN
            Price Ratios                      NaN
  Google    Income Statement                  NaN
            Price Ratios                      NaN
  Microsoft Income Statement                  NaN
            Price Ratios                      NaN
2 Company   Unnamed: 0_level_0            Q3 2016
  Facebook  Income Statement                  NaN
            Price Ratios                      NaN
  Google    Income Statement                  NaN
            Price Ratios                      NaN
  Microsoft Income Statement                  NaN
            Price Ratios                      NaN
3 Company   Unnamed: 0_level_0            Q4 2016
  Facebook  Income Statement                  NaN
            Price Ratios                      NaN
  Google    Income Statement                  NaN
            Price Ratios                      NaN
  Microsoft Income Statement                  NaN
            Price Ratios                      NaN
4 Company   Unnamed: 0_level_0            Q1 2017
  Facebook  Income Statement                  NaN
            Price Ratios                      NaN
  Google    Income Statement                  NaN
            Price Ratios                      NaN
  Microsoft Income Statement                  NaN
            Price Ratios                      NaN

In [16]:
df1.unstack()

            Income Statement                                                \
                  Net Profit Net Sales Price Price to earnings ratio (P/E)
0 Company                NaN       NaN   NaN                           NaN
  Facebook              0.80      2.60   NaN                           NaN
  Google                5.43     20.00   NaN                           NaN
  Microsoft             4.56     18.70   NaN                           NaN
1 Company                NaN       NaN   NaN                           NaN
  Facebook              0.97      3.10   NaN                           NaN
  Google                5.89     22.00   NaN                           NaN
  Microsoft             5.10     21.30   NaN                           NaN
2 Company                NaN       NaN   NaN                           NaN
  Facebook              1.20      4.30   NaN                           NaN
  Google                6.10     24.00   NaN                           NaN
  Microsoft             5.43     21.45   NaN                           NaN
3 Company                NaN       NaN   NaN                           NaN
  Facebook              1.67      6.70   NaN                           NaN
  Google                6.50     26.00   NaN                           NaN
  Microsoft             5.89     21.88   NaN                           NaN
4 Company                NaN       NaN   NaN                           NaN
  Facebook              2.03      8.10   NaN                           NaN
  Google                6.40     31.00   NaN                           NaN
  Microsoft             6.09     22.34   NaN                           NaN

                               Price Ratios                    \
            Unnamed: 0_level_1   Net Profit Net Sales   Price
0 Company                  NaN          NaN       NaN     NaN
  Facebook                 NaN          NaN       NaN   155.0
  Google                   NaN          NaN       NaN   955.0
  Microsoft                NaN          NaN       NaN    66.0
1 Company                  NaN          NaN       NaN     NaN
  Facebook                 NaN          NaN       NaN   150.0
  Google                   NaN          NaN       NaN   987.0
  Microsoft                NaN          NaN       NaN    69.0
2 Company                  NaN          NaN       NaN     NaN
  Facebook                 NaN          NaN       NaN   153.0
  Google                   NaN          NaN       NaN   963.0
  Microsoft                NaN          NaN       NaN    62.0
3 Company                  NaN          NaN       NaN     NaN
  Facebook                 NaN          NaN       NaN   155.0
  Google                   NaN          NaN       NaN  1000.0
  Microsoft                NaN          NaN       NaN    61.0
4 Company                  NaN          NaN       NaN     NaN
  Facebook                 NaN          NaN       NaN   156.0
  Google                   NaN          NaN       NaN  1012.0
  Microsoft                NaN          NaN       NaN    66.0

                                                              \
            Price to earnings ratio (P/E) Unnamed: 0_level_1
0 Company                             NaN                NaN
  Facebook                          37.10                NaN
  Google                            32.00                NaN
  Microsoft                         30.31                NaN
1 Company                             NaN                NaN
  Facebook                          36.98                NaN
  Google                            31.30                NaN
  Microsoft                         30.56                NaN
2 Company                             NaN                NaN
  Facebook                          36.78                NaN
  Google                            31.70                NaN
  Microsoft                         30.46                NaN
3 Company                             NaN                NaN
  Facebook                          36.11                NaN
  Google                            31.20                NaN
  Microsoft                         30.11                NaN
4 Company                             NaN                NaN
  Facebook                          37.07                NaN
  Google                            30.00                NaN
  Microsoft                         31.00                NaN

            Unnamed: 0_level_0                                                \
                    Net Profit Net Sales Price Price to earnings ratio (P/E)
0 Company                  NaN       NaN   NaN                           NaN
  Facebook                 NaN       NaN   NaN                           NaN
  Google                   NaN       NaN   NaN                           NaN
  Microsoft                NaN       NaN   NaN                           NaN
1 Company                  NaN       NaN   NaN                           NaN
  Facebook                 NaN       NaN   NaN                           NaN
  Google                   NaN       NaN   NaN                           NaN
  Microsoft                NaN       NaN   NaN                           NaN
2 Company                  NaN       NaN   NaN                           NaN
  Facebook                 NaN       NaN   NaN                           NaN
  Google                   NaN       NaN   NaN                           NaN
  Microsoft                NaN       NaN   NaN                           NaN
3 Company                  NaN       NaN   NaN                           NaN
  Facebook                 NaN       NaN   NaN                           NaN
  Google                   NaN       NaN   NaN                           NaN
  Microsoft                NaN       NaN   NaN                           NaN
4 Company                  NaN       NaN   NaN                           NaN
  Facebook                 NaN       NaN   NaN                           NaN
  Google                   NaN       NaN   NaN                           NaN
  Microsoft                NaN       NaN   NaN                           NaN


            Unnamed: 0_level_1
0 Company              Q1 2016
  Facebook                 NaN
  Google                   NaN
  Microsoft                NaN
1 Company              Q2 2016
  Facebook                 NaN
  Google                   NaN
  Microsoft                NaN
2 Company              Q3 2016
  Facebook                 NaN
  Google                   NaN
  Microsoft                NaN
3 Company              Q4 2016
  Facebook                 NaN
  Google                   NaN
  Microsoft                NaN
4 Company              Q1 2017
  Facebook                 NaN
  Google                   NaN
  Microsoft                NaN